
main {
  position: relative;
  width: 100%;
  margin: 0 auto;
  column-gap: 3rem;
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
  
  .bg2 {
    transform: rotateZ(180deg);
    position: absolute;
    bottom: -120px;
    right: 0;
    z-index: -1;
    opacity: 0;
  }
  
  .swiper-pagination-bullet span {
    width: 100%;
    font-size: 26px;
    color: #B4B4B4;
  }
  .swiper-pagination-bullet-active span{
    font

  }

  main > div h1 {
    
  }
  

  main > div p {
    line-height: 1.6;
  }
  
  main a {
    transition: 0.3s ease-in-out;
  }
  
  main > div > a {
    border: 2px solid #c2c2c2;
    margin-top: 2.188rem;
    padding: 0.625rem 1.875rem;
  }
  
  main > div > a:hover {
    border: 0.125rem solid #005baa;
    color: #005baa;
  }
  
  .swiper {
    width: 100%;
    /* margin-top: 100px; */
    /* padding: 90px; */
  }
  .swiper-slide-next,.swiper-slide-prev{
    height: 522px;
  }
  
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    background: none;
  }
  .swiper-pagination-bullet{
    width: auto;
    color: #B4B4B4;
    background: none;
    font-size: 26px;
  }
  .swiper-pagination-bullet-active span{
    background: none;
    color: #000000;
    font-weight: bold;
  }
  
  .swiper-pagination {
    bottom: 1.25rem !important;
  }
  
  .swiper-slide {
    width: 424px;
    height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
  }
  .swiper-slide{
    opacity: 0.6;
  }
  .swiper-slide-active{
    /* transform: scale(1.1); */
    opacity: 1;
  }
  
  
  .swiper-slide h2 {
    color: #fff;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 40px;
  }
  .swiper-slide-active h2 {
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 60px;
    text-transform: uppercase;
  }
  
  .swiper-slide p {
    color: #fff;
    font-weight: 400;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  /* .swiper-slide a {
    width: fit-content;
    display: flex;
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 1em 2rem;
    font-size: 18px;
    align-items: center;
    border: 1px #fff solid;
    justify-content: center;
  } */
  /*
  .swiper-slide:hover{
    
  } */

  .swiper-slide-active{
    /* transition: all 0.3s; */
    box-shadow: 4px 0px 10px #2c2c2c4b;
  }

  .swiper-slide a {
    padding: 40px 20px;
    gap: 40px;
    display: flex;
    border-radius: 50px;
    color: #fff;
    height: 100%;
    width: 100%;
    border: 1px #ffffff00 solid;
    font-weight: 700;
    flex-direction: column;
    justify-content: flex-end;
  }


  .swiper-slide-active a {
    padding: 60px 40px;
    gap: 40px;
    display: flex;
    border-radius: 50px;
    color: #fff;
    height: 100%;
    width: 100%;
    border: 1px #fff solid;
    font-weight: 700;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .swiper-slide button {
    --primary-color: #fff;
    --hovered-color: #fff ;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
    width: fit-content;
    position: absolute;
    right: 40px;
  }
  
  .swiper-slide button p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color);
  }
  .swiper-slide-active button p{

  }
  
  .swiper-slide button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
    font-weight: 600;
  }
  
  .swiper-slide button p::before {
    position: absolute;
    /*   box-sizing: border-box; */
    content: "보러가기";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  swiper-slide:hover p{
    color: #0062CC;
  }
 .swiper-slide:hover button::after {
    width: 100%;
  }
  
  .swiper-slide:hover button p::before {
    width: 100%;
  }
  
  .swiper-slide:hover button svg {
    transform: translateX(4px);
    color: var(--hovered-color);
  }
  
  button svg {
    color: var(--primary-color);
    transition: 0.2s;
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }

  .swiper-slide div {
    transition: all 0.3s;
    display: none;
    opacity: 0;
    padding-bottom: 1rem;
  }
  
  .swiper-slide-active div {
    transform: translateY(-10%);
    display: block;
    opacity: 1;
    padding-bottom: 0rem;

  }
  
  .swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/slide1.png")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/slide2.png")
        no-repeat 50% 50% / cover;
  }
  
  .swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
      url("../img/slide3.png")
        no-repeat 50% 50% / cover;
  }

  .swiper-slide-duplicate-prev, .swiper-slide-duplicate-next {
   opacity: 0;
  }

  .swiper-button-next, .swiper-button-prev{
    background: #00000075;
    border-radius: 100%;
    padding: 10px;
    height: 60px;
    width: 60px;
    color: #fff;

  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    font-size: 30px;
  }
  
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    background-image: none;
  }
  
  @media screen and (min-width: 48rem) {
    main {
      display: flex;
      align-items: center;
    }
    .bg,
    .bg2 {
      opacity: 0.1;
    }
  }
  